  @keyframes float {

      0%,
      100% {
          transform: translateY(0px);
      }

      50% {
          transform: translateY(-20px);
      }
  }

  .animate-float {
      animation: float 6s ease-in-out infinite;
  }

  ::-webkit-scrollbar {
      width: 6px;
  }

  ::-webkit-scrollbar-track {
      background: transparent;
  }

  ::-webkit-scrollbar-thumb {
      background: #e2e8f0;
      border-radius: 10px;
  } 